{% extends 'bbs/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h1 class="mb-5">ログイン画面</h1>
{% if user.is_authenticated %}
    <p>{{ user }}でログイン中</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">ログアウト</button>
    </form>
{% else %}
    <section>
    <form action='{% url "login" %}' method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" size="md" content="ログイン" %}
    </form>
        <p style="margin-top: 15px;">
            <a href="{% url 'accounts:signup' %}">{% bootstrap_button button_type="submit" size="md" content="新規登録" %}
            </a>
        </p>
    </section>
{% endif %}
{% endblock %}
