{% extends 'bbs/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h1 class="mb-5">Djangoで作るログイン機能</h1>
{% if user.is_authenticated %}
    <p>{{ user }}でログイン</p>
    <div>
        <a href="{% url 'logout' %}">
            {% bootstrap_button button_type="submit" size="md" button_class="btn-danger" content="ログアウト" %}
        </a>
    </div>
{% else %}
    <section>
    <form action='{% url "login" %}' method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" size="md" content="ログイン" %}
    </form>
        <p style="margin-top: 15px;">
            <a href="{% url 'accounts:signup' %}">{% bootstrap_button button_type="submit" size="md" content="新規登録" %}
            </a>
        </>
    </section>
{% endif %}
{% endblock %}
