{% extends 'bbs/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <h1 class="mt-5">{{ article.id }}の投稿詳細ページ</h1>
        <div class="card bg-light shadow-sm mt-3">
            <div class="card-body">
                <p>{{ article.author }}:{{ article.created_at }}</p>
                <p>最終更新:{{ article.updated_at }}</p>
                <p>{{ article.content }}</p>
                {% if request.user.id == object.author_id %}
                <p><a href='{% url "bbs:update" article.pk %}'>
                    {% bootstrap_button button_type="submit" size="md" button_class="btn-success" content="編集" %}
                </a></p>
                <p><a href='{% url "bbs:delete" article.pk %}'>
                    {% bootstrap_button button_type="submit" size="md" button_class="btn-danger" content="削除" %}
                </a></p>
                {% endif %}
            </div>
        </div>
<div class="mt-3">
    <a href='{% url "bbs:index" %}'>
        {% bootstrap_button button_type="submit" size="md" button_class="btn-secondary" content="戻る" %}
    </a>
</div>
{% endblock %}
